   /* колір основного текста #757575; */
   /*   колір заголовків текста #212121;  */
   /* колір тексту Hero #FFFFFF; */

   /* колір акценту #2196F3; */

   /* колір фону Героя і Футера #2F303A; */
   /* колір фону секції About #E5E5E5; */
   /* колір фонусекції Team  #F5F4FA;*/

   :root {
      --primery-text-color: #757575; 
      --title-text-color: #212121;
      --accent-text-color:#2196F3;
      --hero-text-color: #FFFFFF;

      --hero-background-color: #2F303A;
      --benefits-background-color: #E5E5E5;
      --team-background-color: #F5F4FA;
      --
  }

   /* WebStudio Page*/
body {
   color: var(--primery-text-color);
   background-color: #FFFFFF;
}
.list {
   list-style: none;
}

    /* Header logo */
.logo {
 color: var(--accent-text-color);
}

/* Header nav */
.site-nav .link{
   color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
   color: var(--accent-text-color);
}
.contacts .link{
   color: var(--primery-text-color);
}
.contacts .link:hover,
.contacts .link:focus {
   color: var(--accent-text-color);
}

/* Section Hero */
.hero {
   background-color: var(--hero-background-color);
}
.hero .title {
   color: var(--hero-text-color);
}

/* Section Benefits */
.benefits {
   background-color: var(--benefits-background-color);
}
.benefits .title {
   color: var(--title-text-color);
}


/* Section About */
.about {
   background-color: var(--benefits-background-color);
}
.about .title {
   color: var(--title-text-color);
}

/* Section Team */
.team {
   background-color: var(--team-background-color);
}
.main-title {
   color: var(--title-text-color);
}
.team .title {
   color: var(--title-text-color);
}

/* Footer */ 
.footer {
   color: var(--hero-text-color);
   background-color: var(--hero-background-color);
}
.address .link {
   color: rgba(255, 255, 255, 0.6);
}




/* Page Porfolio */ 

.portfolio {
   background-color: var(--benefits-background-color);
}

.gallery {
   background-color: var(--benefits-background-color);
}

.gallery-title {
   color: var(--title-text-color);
}